/* CUSTOM CSS */
.logout-btn {
    DISPLAY: block;
    border: none;
    background: #f7f7f7;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    /* font-weight: normal; */
    height: 40px;
}